.userRow{
    font-size: 0.9rem;
}


.userRow td{
    padding: 0.75rem 0.5rem;
}

.userRow_idCell{
    max-width: 7rem;
    word-wrap: normal;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

td.userRow_imageCell{
    padding: 0.25rem;    
}

.userRow_imageDiv{
    height: 50px;
    width: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.userRow_imageDiv img{
    height: 100%;
}

.userRow_actions{
    display: flex;
    height: 100%;
    gap: 1rem;
    font-size: 1.25rem;
}

.userRow_editIcon{
    cursor: pointer;
}

.userRow_deleteIcon{
    color: red;
    cursor: pointer;
}